*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    color: #111;
}

main{
    width: 100%;
    min-height: 100vh;
    padding: 1vw 8vw;
    background-color: #f8f7f0;
}

button{
    padding: 12px 24px;
    border-radius: 50px;
    border: 1px solid #111;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #111;
}
section{
    width: 100%;
}

/* ================= HEADER ================= */

header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(216, 210, 210);
}

header > div:nth-child(1){
    display: flex;
    align-items: center;
    gap: 15px;
}
header > div:nth-child(1) h2{
    font-family: sans-serif;
    font-weight: 400;
    color: #2c2c2c;
}
header > div:nth-child(1) img{
    width: 70px;
}

header > div:nth-child(1) a{
    padding: 8px 18px;
    border-radius: 50px;
    background-color: #e2dae7;
    color: #0e0e0e;
    font-size: 14px;
}

header > div:nth-child(2){
    display: flex;
    align-items: center;
    gap: 30px;
}
header > div:nth-child(2) a{
    position: relative;
    text-decoration: none;
}

header > div:nth-child(2) a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
}

header > div:nth-child(2) a:hover::after{
    width: 100%;
}

header > div:nth-child(2) > div{
    display: flex;
    flex-direction: column;
    gap: 4px;
}


header > div:nth-child(2) > div:nth-child(6) p{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #cfc2c2;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

header > div:nth-child(2) > button:hover{
    color: white;
    background-color: #0e0e0e;
}

/* ================= BRANDS ================= */

#brands{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 30px;
    margin-top: 14vw;
}

#brands h1{
    font-size: 6vw;
    line-height: 5.5vw;
    font-weight: 500;
    font-family: sans-serif;
}

#brands p{
    font-size: 24px;
    color: #313131;
    line-height: 35px;
}

#brands button{
    display: flex;
    flex-direction: row;
    width: 150px;
    font-weight: 600;
    height: 60px;
    align-items: center;
    font-family: sans-serif;
    background-color: #111;
    color: white;
}
#logo{
    width: 100%;
    display: flex;
    gap: 80px;
    overflow: hidden;
}
#logo .inner{
    display: flex;
    align-items: center;
    gap: 80px;
    animation-name: logoAnimation;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes logoAnimation{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#logo h1{
    font-size: 2vw;
    color: #999;
}

#brands-About{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    gap: 25px;
}

#brands-About .box{
    width: 25%;
    background-color: #e8eaeb;
    padding: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#brands-About .box h1{
    font-size: 28px;
    line-height: 35px;
}

#brands-About .box p{
    font-size: 20px;
    line-height: 25px;
}

#brands-About .box a{
    text-decoration: underline;
}


/* ================= OUR WORK ================= */

#OUR-WORK{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 8vw;
}

#OUR-WORK > p{
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px;
    border-bottom: 1px solid rgb(216, 210, 210);
}
#OUR-WORK .box1-2{
    display: flex;
    gap: 25px;
    width: 100%;
}
#OUR-WORK .box3-4{
    display: flex;
    gap: 25px;
    width: 100%;
}
#OUR-WORK > div:nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#OUR-WORK > div:nth-child(2) h1{
    font-size: 4vw;
    font-weight: 500;
}

#OUR-WORK > div:nth-child(2) button:hover{
    color: white;
    background-color: black;
}

#OUR-WORK .box1-2,
#OUR-WORK .box3-4{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#OUR-WORK .box1-2 .Invision-Studio,
#OUR-WORK .box1-2 .Square-Media,
#OUR-WORK .box3-4 .Vision-Design,
#OUR-WORK .box3-4 .Design-Bros{
    width: 50%;
}
#OUR-WORK .box1-2 .Invision-Studio div,
#OUR-WORK .box1-2 .Square-Media div,
#OUR-WORK .box3-4 .Vision-Design div,
#OUR-WORK .box3-4 .Design-Bros div{
    overflow: hidden;
    margin-bottom: 10px;
}

#OUR-WORK .box1-2 .Invision-Studio img,
#OUR-WORK .box1-2 .Square-Media img,
#OUR-WORK .box3-4 .Vision-Design img,
#OUR-WORK .box3-4 .Design-Bros img{
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}
#OUR-WORK .box1-2 .Invision-Studio img:hover,
#OUR-WORK .box1-2 .Square-Media img:hover,
#OUR-WORK .box3-4 .Vision-Design img:hover,
#OUR-WORK .box3-4 .Design-Bros img:hover{
    transform: scale(1.1);
}
.Invision-Studio div,
.Square-Media div,
.Vision-Design div,
.Design-Bros div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#h1:hover{
    color: white;
    background-color: black;
}
/* ================= VALUES ================= */

#OUR-VALUES{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 8vw;
}

#OUR-VALUES > p{
    letter-spacing: 2px;
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid rgb(216, 210, 210);
}

.upper,
.lower{
    width: 100%;
    display: flex;
    gap: 25px;
}

.upper div,
.lower div{
    width: 33%;
    background-color: #e8eaeb;
    display: flex;
    flex-direction: column;
    gap: 20%;
    padding: 40px;
    height: 23vw;
    display: flex;
    justify-content: space-between;
}

.upper div p,
.lower div p{
    font-size: 18px;
    color: #666;
}

.upper div h1,
.lower div h1{
    font-weight: 400;
    font-size: 24px;
}

.upper div button,
.upper div i{
    background-color: #111;
    color: white;
    width: 80%;
}

.down{
    width: 73%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 27%;
    gap: 30px;
}

.down h1{
    width: 70%;
    font-size: 3.5vw;
    font-weight: 500;
    line-height: 4.5vw;
}

.down div{
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.down div p{
    font-size: 18px;
    line-height: 30px;
}


/* ================= TEAM ================= */

#OUR-TEAM{
    display: flex;
    flex-direction: column;
    margin-top: 8vw;
    gap: 40px;
}

#OUR-TEAM > p{
    letter-spacing: 2px;
    font-size: 14px;
    border-bottom: 1px solid rgb(216, 210, 210);
}

#OUR-TEAM > div:nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#OUR-TEAM > div:nth-child(2) h1{
    font-size: 3vw;
    font-weight: 400;
}
#OUR-TEAM > div:nth-child(2) button:hover{
    color: white;
    background-color: black;
}
.team{
    width: 100%;
    display: flex;
    gap: 25px;
    margin-bottom: 8vw;
}
.team .box1{
    background-color: #e8eaeb;
    padding: 30px;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.team .box1 h1{
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
}
.team .box1 button{
    color: white;
    background-color: #111;
}

.team .box2 .upper,
.team .box3 .upper,
.team .box4 .upper{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.team .box2 .upper .icons,
.team .box3 .upper .icons,
.team .box4 .upper .icons{
    position: absolute;
    bottom: -65%;
    transform: rotate(-90deg);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
    background-color: transparent;
}
.team .upper .icons i:nth-child(2),
.team .upper .icons i:nth-child(1){
    transform: rotate(90deg);
    font-size: 120%;
    background-color: black;
    width: auto;
    border-radius: 50%;
    padding: 10px;
}
.team .box2 .upper img,
.team .box3 .upper img,
.team .box4 .upper img{
    width: 100%;
}

.team .upper img:hover + .icons,
.team .upper .icons:hover{
    bottom: -40%;
}
.team .box2 .lower button:hover,
.team .box3 .lower button:hover,
.team .box4 .lower button:hover{
    color: white;
    background-color: black;
}
.team .box2 .lower,
.team .box3 .lower,
.team .box4 .lower{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.team .box2 .lower h1,
.team .box3 .lower h1,
.team .box4 .lower h1{
    font-size: medium;
    font-weight: 400;
}


/* ================= LOGOIPSUM ================= */

.logoipsum{
    width: 70%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    gap: 8vw;
}

.logoipsum .upper,
.logoipsum .lower{
    display: flex;
    gap: 10%;
}
.logoipsum .upper div,
.logoipsum .lower div{
    width: 84%;
    padding: 0%;
    display: flex;
    gap: 15px;
    background-color: #f8f7f0;
    border-bottom: 1px solid rgb(216, 210, 210);
}
.logoipsum .upper h2,
.logoipsum .lower h2{
    font-size: 30px;
}

.logoipsum p{
    color: #666;
    margin-bottom: 10px;
}

/* ================= CONTACT ================= */

.contact{
    width: 100%;
    background-color: #e8eaeb;
    color: black;
    padding: 60px;
    display: flex;
    justify-content: space-between;
}

.contact div:nth-child(1){
    width: 30%;
}

.contact div:nth-child(2){
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact h1{
    font-size: 4vw;
    font-weight: 300;
    line-height: 4.5vw;
}

.contact p{
    font-size: 18px;
    line-height: 30px;
}

.contact button{
    width: fit-content;
    background-color: black;
    color: white;
}


/* ================= BLOG ================= */

#BLOG{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 8vw;
    border-bottom: 1px solid rgb(216, 210, 210);
}

#BLOG > p{
    font-size: 14px;
    letter-spacing: 2px;
    border-bottom: 1px solid rgb(216, 210, 210);
}

#BLOG > div:nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#BLOG > div:nth-child(2) h1{
    font-size: 4vw;
    font-weight: 400;
}
#BLOG > div:nth-child(2) button:hover{
    color: white;
    background-color: black;
}
#BLOG .products{
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}
#BLOG .products .box2 .pages,
#BLOG .products .box3 .CMS,
#BLOG .products .box4 .utility-Pages{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#BLOG .products .box2 .pages p,
#BLOG .products .box3 .CMS p,
#BLOG .products .box4 .utility-Pages p{
    border-bottom: 1px solid rgb(216, 210, 210);
}
#BLOG .products .box1 h1,
#BLOG .products .box2 h1,
#BLOG .products .box3 h1,
#BLOG .products .box4 h1{
    font-size: large;
    font-weight: 500;
}
#BLOG .products .box1,
#BLOG .products .box2,
#BLOG .products .box3,
#BLOG .products .box4{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#BLOG .products .box1 :nth-child(1),
#BLOG .products .box2 :nth-child(1),
#BLOG .products .box3 :nth-child(1),
#BLOG .products .box4 :nth-child(1){
    overflow: hidden;
}
#BLOG .products .box1 :nth-child(1) img,
#BLOG .products .box2 :nth-child(1) img,
#BLOG .products .box3 :nth-child(1) img,
#BLOG .products .box4 :nth-child(1) img{
    width: 100%;
    transition: transform 0.4s ease;
}
#BLOG .products .box1 :nth-child(1) img:hover,
#BLOG .products .box2 :nth-child(1) img:hover,
#BLOG .products .box3 :nth-child(1) img:hover,
#BLOG .products .box4 :nth-child(1) img:hover{
    transform: scale(1.1);
}
#BLOG .products{
    width: 100%;
    display: flex;
    gap: 25px;
}
#BLOG .products .box2 button{
    width: fit-content;
    background-color: black;
    color: white;
}
#BLOG .products div img{
    width: 100%;
}

#BLOG .products .box1 .logo-oliv{
    display: flex;
    align-items: center;
    gap: 5px;
}
#BLOG .products .box1 .logo-oliv img{
    width: 60px;
}
#BLOG .products .box1 .icons{
    display: flex;
    align-items: center;
    gap: 15px;
}
#BLOG .products .box1 .icons i{
    font-size: 20px;
    background-color: #e6e7e9;
    border-radius: 50%;
    padding: 6px;
    text-align: center;
}


/* ================= FOOTER ================= */

footer{
    width: 100%;
    padding: 30px 0;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .left p{
    color: #666;
}

footer .right{
    display: flex;
    gap: 20px;
}

footer a{
    font-weight: 600;
}